.custom-row {
	margin: 20px 20px 20px 10%;
	padding: 30px 20px 20px 10px;
	text-align: left;
	
}

.custom-container {
	
}

.form-group {
	padding-top: 40px;

}

.control-label {
	padding-top: 5px;
}

.checkbox {
	margin-left: 5%;
}